*
{
    margin: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');
nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding-top: 10px;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;
    align-items: baseline;

}
/* .glow {
    font-size: 70px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #14E25E, 0 0 40px #14E25E, 0 0 50px #14E25E, 0 0 60px #14E25E, 0 0 70px #14E25E;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #0C8839, 0 0 40px #0C8839, 0 0 50px #0C8839, 0 0 60px #0C8839, 0 0 70px #0C8839, 0 0 80px #0C8839;
    }
  } */
#heading
{
    padding-top: 0px;
    padding-left: 20px;
}

ul
{ 
overflow-x:hidden;
white-space:nowrap; 
width: 100%;
padding-left: 180px;
} 

li
{ 
padding-top: 0px;
display:inline; 
color: white;
padding-left: 50px;
 }
body
{
background-color: #101010;
}
 ul li:hover 
{
    color: rgb(128, 181, 128);
}
#trial-button
{
    border: 1px solid #252525;
    color: white;
    background-color: #101010;
    border-radius: 30px;
    padding: 15px;
}
#account-creation-button
{
    border: 1px solid #252525;
    color: black;
    background-color: #e0f2c0;
    border-radius: 30px;
    padding: 15px;
    margin-left:10px;
}
#buttons
{
    padding-left: 140px;

}
span
{
    padding: 30px;
}

#main-content-container
{
    color:white;
    padding-left: 100px;
    padding-top: 80px;
    width: 60%;
    height: 50%;
    color: white;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;  
    font-size: 60px;  
}

#whole-container
{
    display:flex;
  
}
#urban-text
{
    background-color: #f1ff9b;
    border-radius: 10px;
    padding: 2px;
    color: black;
}

 #vfarm-paragraph
{
    padding-top: 30px;
    font-size: medium;
}
#image-container
{
    display: flex;
    width: 40%;
    padding-top: 80px;
    height: 60%;
}
#start-now-button
{

    border: 1px solid #252525;
    color: black;
    background-color: #f2fca3;
    border-radius: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left:0;
}
#start-now-button
{

    border: 1px solid #252525;
    color: black;
    background-color: #f2fca3;
    border-radius: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left:0;
}
#how-it-works-button
{
    border: 1px solid whitesmoke;
    color: white;
    background-color: #101010;
    border-radius: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left:10px;
}
#pile-images
{
    margin-left: 40px;
}
#button-container-bottom
{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.base-line-content
{
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    width: 100%;
    color: white;
    background-color: #101010;
}
#first-number
{
    margin-left: 15px;
    margin-top: 0;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    color: black;
    border: solid black 1px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;  
}
#second-third-number
{
    margin-left: 15px;
    margin-top: 0;
    padding: 5px;
    background-color: black;
    border-radius: 50px;
    color: white;
    border: solid black 1px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;  
}
#baseline-container
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #101010;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif; 
}
#text-first-box
{
    margin-left: 15px;
}
#first-number-container
{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    background-color: #e0f2c0; 
    border-radius: 10px;
    padding-left:10px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#second-number-container
{
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    background-color: #f1ff9e; 
    border-radius: 10px;
    padding-left:10px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#third-number-container
{
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff; 
    border-radius: 10px;
    padding-left:10px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}
h5
{
    font-weight: lighter;
}
#vfarm-footer
{
    width: 100%;
    display: flex;
    margin-top: 100px;
    background-color: #f6f6f6;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif; 
}
.footer
{
    display: flex;
    flex-direction: row;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif; 
}

#farm-start-image
{
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
#footer-text
{
    margin: 40px;
}
#final-part-image-footer
{
    margin-left: 180px;
}